
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <meta charset="UTF-8">
    <title>Book Search</title>
  </head>
  <body>
        <a class="header" href="https://cs-260-projects-minnoch-redux.firebaseapp.com">Firebase</a>
    <h1 class="titleSection">Midterm Project - Library Search</h1>
<div id='app'>
    <form v-on:submit.prevent="bookCall">
        <label>Enter a book title:
        <input v-model="bookInput" type="text"></input>
        <input type="Submit"></input>
        </label>
    </form>
    <div v-if="loading">
        <p>Awaiting a title...</p>
    </div>
    <div v-else>
        <div id="bookResults">
            <p>Title: {{ results.docs[0].title }}</p>
            <p>  Author: {{ results.docs[0].author_name[0] }}</p>    
            <p>  Published: {{results.docs[0].first_publish_year }}</p>
            <img v-bind:src="url" id="bookCover">
            <button v-on:click="favorite(item)">Favorite</button>
        </div>
    </div>
    <h2>Favorite books:</h2>
    <div v-for="item in favorites" class="favSection">
        <p>{{item.title}}</p>
        <button v-on:click="unfavorite(item)">Unfavorite</button>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <a class="footer" href=https://github.com/byu-cs-260-spring-2019/midterm-1-jarenm>GitHub</a></br>
  </body>
</html>
